<form action="/game" method="get">
    <label for=guess>Enter your guess between 0 and 10: </label>
    <input type="number" name="guess" />
    <input type="submit" value="Submit" />
</form>
<%= @result %>
<div></div>
<%= link_to "Home", "/"%>
