<h1 id="text">Welcome to BigClip!</h1>
<h2 id="text">Select the game you want to play:</h2>
<div id="text">
<%= link_to "Magic 8 Ball", "/magic8ball" %>
<div></div>
<%= link_to "High Low", "/game" %>
<div></div>
<%= link_to "Mad Libs", "/madlibs" %>
</div>
