<div id="text">
    <%= @madlib %>
    </div>
<div class="background" style="display:flex;justify-content:center">


<form action="/madlibs" method="get" style="width:300px;display:flex;justify-content: space-around; flex-wrap:wrap">
    <input class="form" type="text" name="adj" placeholder="adj"/>
    <input class="form"type="text" name="adj2" placeholder="adj2"/>
    <input class="form" type="text" name="type_of_bird" placeholder="type_of_bird"/>
    <input class="form" type="text" name="room_in_house" placeholder="room_in_house"/>
    <input class="form" type="text" name="past_tense_verb" placeholder="past_tense_verb"/>
    <input class="form" type="text" name="verb" placeholder="verb"/>
    <input class="form" type="text" name="name" placeholder="name"/>
    <input class="form" type="text" name="noun" placeholder="noun"/>
    <input class="form" type="text" name="liquid" placeholder="liquid"/>
    <input class="form" type="text" name="verb_ing" placeholder="verb_ing"/>
    <input class="form" type="text" name="body_part" placeholder="body_part"/>
    <input class="form" type="text" name="plural_noun" placeholder="plural_noun"/>
    <input class="form" type="text" name="verbing" placeholder="verbing"/>
    <input class="form" type="text" name="noun2" placeholder="noun2"/>
    <input class="form" type="submit" value="Submit" />
</form>
    </div>
<div></div>
<%= link_to "Home", "/"%>
